.footer {
  background-color: #0074c7;
  color: #f1f8fc;
}
.legal {
  list-style-type: none;
}
li {
  padding: 20px;
}
img {
  margin-left: 100px;
  width: 300px;
  height: auto;
  image-rendering: optimizeQuality;
  object-fit: cover;
}
ul {
  padding: 0;
  display: flex;
}
hr {
  color: #f1f8fc;
  width: 75%;
  opacity: 1;
  display: flex;
  align-items: center;
}
.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
